name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: ['1.12', '1']
        include:
            - os: ubuntu-latest
              version: nightly  

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}

      - uses: julia-actions/julia-buildpkg@v1

      - uses: julia-actions/julia-runtest@v1
        continue-on-error: ${{ matrix.version == 'nightly' }}

      - name: Force PyCall to use Julia Conda
        run: |
            julia -e 'ENV["PYTHON"] = ""; using Pkg; Pkg.build("PyCall")'

      - name: Install SymPy
        run: |
            julia -e 'using PyCall; pyimport_conda("sympy", "sympy")'

      - name: Install dependencies
        run: julia -e 'using Pkg; Pkg.instantiate()'

      - name: Run tests
        run: julia -e 'using Pkg; Pkg.test(coverage=true)
